<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scank.organizer">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Utility.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScankScanner">

        <activity
            android:exported="true"
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoActionBar" />
        <activity
            android:name=".activity.SignUpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoActionBar" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoActionBar" />
        <activity
            android:name=".activity.IntroPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme.NoActionBar" />

        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme.NoActionBar" />

        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme.NoActionBar" />

        <activity
            android:name=".activity.ScanModeActivty"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme.NoActionBar" />

        <activity
            android:name=".activity.ScanSuccessActivty"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.pushwoosh.appid"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.pushwoosh.senderid"
            android:value="@string/fcm_sender_id" />
        <meta-data
            android:name="com.pushwoosh.notification_service_extension"
            android:value="com.scank.organizer.helper.NotificationReceiver" />

    </application>

</manifest>